.advantages {
  display: block;
  width: 375px;
  height: 1556px;
  padding-top: 30px;

  background-image: url(../images/mob/Vector-min.png),
    url(../images/mob/Vectorgr-min.png), url(../images/mob/Vectorgrl-min.png),
    url(../images/mob/Vectorsir-min.png),
    url(../images/mob/Vectorblbotlef-min.png),
    url(../images/mob/Vectorbotsir-min.png), url(../images/mob/G5-min.png),
    url(../images/mob/G10-min.png), url(../images/mob/G11-min.png),
    url(../images/mob/G8-min.png), url(../images/mob/G7-min.png),
    url(../images/mob/Vec39-min.png), url(../images/mob/Vec40-min.png),
    url(../images/mob/G6-min.png), url(../images/mob/G9-min.png),
    url(../images/mob/yelbot-min.png), url(../images/mob/Vectorgrbot-min.png),
    url(../images/mob/Vyelltop-min.png), url(../images/mob/Veyelr-min.png),
    url(../images/mob/blutopright-min.png),
    url(../images/mob/blubottrigth-min.png),
    linear-gradient(
      180deg,
      var(--name-color) 59%,
      var(--white-color) 59%,
      var(--white-color)
    );
  /*@media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    screen and (min-width: 375px) and (min-resolution: 192dpi),
    screen and (min-width: 375px) and (min-resolution: 2dppx) {
    background-image: url(../images/mob/Vector-min.png),
      url(../images/mob/Vectorgr2-min.png),
      url(../images/mob/Vectorgrl2-min.png),
      url(../images/mob/Vectorsir2-min.png),
      url(../images/mob/Vectorblbotlef2-min.png),
      url(../images/mob/Vectorbotsir2-min.png), url(../images/mob/G52-min.png),
      url(../images/mob/G102-min.png), url(../images/mob/G112-min.png),
      url(../images/mob/G82-min.png), url(../images/mob/G72-min.png),
      url(../images/mob/Vec392-min.png), url(../images/mob/Vec402-min.png),
      url(../images/mob/G62-min.png), url(../images/mob/G92-min.png),
      url(../images/mob/yelbot2-min.png),
      url(../images/mob/Vectorgrbot2-min.png),
      url(../images/mob/Vyelltop2-min.png), url(../images/mob/Veyelr2-min.png),
      url(../images/mob/blutopright2-min.png),
      url(../images/mob/blubottrigth2-min.png),
      linear-gradient(
        180deg,
        var(--name-color) 59%,
        var(--white-color) 59%,
        var(--white-color)
      );
  }*/
  background-position: 3px 0px, 3px 0px, 3px 0px, 3px 304px, 3px 829px,
    80px 804px, 342px 780px, 292px 826px, 318px 826px, 314px 780px, 340px 816px,
    335px 816px, 328px 798px, 364px 804px, 277px 795px, 189px 796px, 3px 292px,
    316px 0px, 267px 487px, 257px 0px, 173px 409px;
  background-repeat: no-repeat;

  margin: 0 auto;
  font-size: 14px;
  line-height: 20px;
  color: var(--white-color);

  &__span {
    color: var(--span-color);
  }
  /* &__container {
    
   
  }*/
  &__overlay {
    width: 375px;
    height: 911px;
  }
  &__title {
    font-weight: 600;
    font-size: 16px;
    line-height: 23px;
    margin-bottom: 60px;
  }
  &__one {
    position: relative;
    margin-bottom: 47px;
    &::before {
      position: absolute;
      content: "";
      width: 15px;
      height: 19px;
      left: 0;
      top: -24px;
      background-image: url(../images/mob/01.-min.png);
      background-repeat: no-repeat;
      border-bottom: 2px solid var(--black-color);
    }
  }
  &__two {
    position: relative;
    //font-size: 14px;
    margin-bottom: 30px;
    &::before {
      position: absolute;
      content: "";
      width: 19px;
      height: 22px;
      left: 0;
      top: -25px;
      background-image: url(../images/mob/02.-min.png);
      background-repeat: no-repeat;
      border-bottom: 2px solid var(--black-color);
    }
  }
  &__three {
    position: relative;
    //font-size: 14px;
    margin-bottom: 30px;
    &::before {
      position: absolute;
      content: "";
      width: 20px;
      height: 22px;
      left: 0;
      top: -25px;
      background-image: url(../images/mob/03.-min.png);
      background-repeat: no-repeat;
      border-bottom: 2px solid var(--black-color);
    }
  }
  &__four {
    position: relative;
    margin-bottom: 35px;
    &::before {
      position: absolute;
      content: "";
      width: 19px;
      height: 22px;
      left: 0;
      top: -25px;
      background-image: url(../images/mob/04.-min.png);
      background-repeat: no-repeat;
      border-bottom: 2px solid var(--black-color);
    }
  }
  &__five {
    position: relative;
    //font-size: 14px;
    margin-bottom: 46px;
    &::before {
      position: absolute;
      content: "";
      width: 18px;
      height: 22px;
      left: 0;
      top: -25px;
      background-image: url(../images/mob/05.-min.png);
      background-repeat: no-repeat;
      border-bottom: 2px solid var(--black-color);
    }
  }
  &__subtitle {
    font-weight: 600;
    font-size: 16px;
    line-height: 23px;
    margin-bottom: 13px;
  }
  &__text {
    margin-bottom: 23px;
  }
  &__content {
    width: 201px;
    position: relative;

    margin-left: 87px;
    margin-bottom: 30px;
  }
  &__wrap {
    @media screen and (min-width: 1200px) {
      width: 463px;
    }
    position: absolute;
    width: 197px;
    left: 8px;
    bottom: 6px;
    padding-left: 6px;
    background-color: var(--white-color);
  }
  &__image {
    width: 201px;
  }

  &__name {
    font-weight: 600;
    font-size: 10px;
    line-height: 16px;
    color: var(--endtxt-color);
  }
  &__signature {
    @media screen and (min-width: 1200px) {
      font-size: 16px;
      line-height: 176%;
      margin-bottom: 35px;
    }
    font-weight: 400;
    font-size: 8px;
    line-height: 136%;
    color: var(--sgntr-color);
  }
}
/* &__list {
    @media screen and (min-width: 768px) {
      display: flex;
    }
    list-style: none;
  }
  &__item {
    width: 230px;
    //height: 156px;
    &:not(:last-child) {
      @media screen and (min-width: 768px) {
        width: 180px;
        margin-bottom: 0;
        margin-right: 60px;
      }
      @media screen and (min-width: 1200px) {
        width: 330px;
        margin-bottom: 0;
        margin-right: 30px;
      }
      margin-bottom: 38px;
    }
  }
  &__content {
    @media screen and (min-width: 768px) {
      font-size: 48px;
      line-height: 55px;
    }
    @media screen and (min-width: 1200px) {
      font-size: 58px;
      line-height: 66px;
    }
    font-family: Titan One;
    font-style: Regular;
    font-size: 36px;
    line-height: 41px;
    line-height: 1;
    letter-spacing: 0.04;
    margin-bottom: 13px;
    color: var(--cntnt-color);
  }
  &__signature {
    @media screen and (min-width: 768px) {
      width: 180px;
      font-size: 14px;
      line-height: 174%;
    }
    @media screen and (min-width: 1200px) {
      width: 330px;
      font-size: 16px;
      line-height: 176%;
    }
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 170%;
    color: var(--black-color);
  }
}

.first::before {
  content: "";
  display: inline-block;
  width: 33px;
  height: 50px;
  @media screen and (min-width: 768px) {
    margin-bottom: 36px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 40px;
  }
  margin-bottom: 16px;
  background-image: url("../images/icon1-min.png");
}

.second::before {
  content: "";
  display: inline-block;
  width: 50px;
  height: 50px;
  @media screen and (min-width: 768px) {
    margin-bottom: 36px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 40px;
  }
  margin-bottom: 16px;
  background-image: url("../images/icon2-min.png");
}

.third::before {
  content: "";
  display: inline-block;
  width: 44px;
  height: 50px;
  @media screen and (min-width: 768px) {
    margin-bottom: 36px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 40px;
  }
  margin-bottom: 16px;
  background-image: url("../images/icon3-min.png");
}*/
