.feedback {
  padding-top: 26px;
  &__title {
    font-weight: 600;
    font-size: 16px;
    color: var(--ttrev-color);
    margin-bottom: 44px;
  }
  &__item {
    position: relative;
    padding: 9px 0px;
    border-bottom: 0.4px solid var(--black-color);
  }

  &__guestions {
    position: relative;
    font-size: 12px;
    line-height: 17px;
    color: var(--black-color);
    background-image: url(../images/mob/arrbott.svg);
    background-position: 281px 6px;
    background-size: 11px;
    background-repeat: no-repeat;
  }
  /*&::after {
      position: absolute;
      content: "";
      width: 11.28px;
      height: 7px;
      right: 0px;
      bottom: 0px;
      background-image: url(../images/mob/arrbott.svg);
      background-repeat: no-repeat;
      background-size: 11px;
    }*/
  &__guestions:hover {
    background-image: url(../images/mob/arrtop.svg);
    background-repeat: no-repeat;
    background-position: 281px 6px;

    background-size: 11px;
  }

  /*&__hidden{
    position: relative;
    min-width: 100%;

    visibility: hidden;

    &:hover {
      opacity: 1;
    }
  }*/
  /*&__unhidden{
    position: absolute;
    width: 100%;
    height: 100%;
    visibility: visible;
    transform: translateY(100%);
    padding-top: 9px;
    padding-bottom: 15px;
    //background-color: var(--accent-color);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }*/
  &__text-hidden {
    font-size: 10px;
    line-height: 14px;
    color: var(--black-color);
    padding-top: 9px;
    padding-bottom: 9px;
  }
}
#menu #list {
  height: 0;
  transition: max-height 0.15s ease-out;
  overflow: hidden;
  background: #d5d5d5;
}

#menu:hover #list {
  height: auto;

  transition: max-height 0.25s ease-in;
}
#two #second {
  height: 0;
  transition: max-height 0.15s ease-out;
  overflow: hidden;
  background: #d5d5d5;
}

#two:hover #second {
  height: auto;
  transition: max-height 0.25s ease-in;
}
#three #thirds {
  height: 0;
  transition: max-height 0.15s ease-out;
  overflow: hidden;
  background: #d5d5d5;
}

#three:hover #thirds {
  height: auto;
  transition: max-height 0.25s ease-in;
}
#four #fourth {
  height: 0;
  transition: max-height 0.15s ease-out;
  overflow: hidden;
  background: #d5d5d5;
}

#four:hover #fourth {
  height: auto;
  transition: max-height 0.25s ease-in;
}
