.hero {
    padding-top: 146px;
    padding-bottom: 60px;
    width: 541px;
    //height: 220px;
    &__overlay {
        position: relative;
        background-image: url(../images/mob/Ellipse16-min.png), url(../images/mob/Ellipse15-min.png), url(../images/mob/Ellipse14-min.png), url(../images/mob/Ellipse13-min.png), url(../images/mob/Ellipse11-min.png), url(../images/mob/Rectangle28-min.png), url(../images/mob/Ellipse12-min.png), url(../images/mob/Rectangle17-min.png), url(../images/mob/Group2-min.png), url(../images/mob/Vector2-min.png), url(../images/mob/Vector1-min.png), url(../images/mob/Ellipse23-min.png), url(../images/mob/Rectangle29-min.png), url(../images/mob/Rectangle29-min.png), url(../images/mob/Rectangle29-min.png), url(../images/mob/Rectangle29-min.png), url(../images/mob/Rectangle29-min.png), url(../images/mob/Rectangle29-min.png), url(../images/mob/Rectangle29-min.png), url(../images/mob/Rectangle29-min.png), url(../images/mob/Vector5-min.png), url(../images/mob/Ellipse26-min.png), url(../images/mob/Vector10-min.png), url(../images/mob/Vector9-min.png), url(../images/mob/Ellipse17-min.png), url(../images/mob/Vector18-min.png), url(../images/mob/Vector12-min.png), url(../images/mob/Vector15-min.png), url(../images/mob/Vector11-min.png), url(../images/mob/Rectangle13-min.png), url(../images/mob/Group3-min.png), url(../images/mob/Vector8-min.png), url(../images/mob/Vector6-min.png), url(../images/mob/Vector14-min.png), url(../images/mob/Vector13-min.png), url(../images/mob/Ellipse25-min.png), url(../images/mob/Ellipse27-min.png), url(../images/mob/Vector17-min.png), url(../images/mob/Rectangle37-min.png), url(../images/mob/Vector16-min.png), url(../images/mob/MaskGroup-min.png), url(../images/mob/Vector7-min.png), url(../images/mob/Vector4-min.png), url(../images/mob/MaskGrouprigth-min.png), url(../images/mob/Vector3-min.png);
        background-position: 368px 102px, 382px 102px, 396px 102px, 410px 102px, 424px 102px, 422px 96px, 438px 102px, 457px 188px, 361px 221px, 395px 215px, 415px 198px, 86px 262px, 84px 140px, 84px 135px, 84px 130px, 84px 125px, 84px 120px, 84px 115px, 84px 110px, 84px 105px, 104px 106px, 146px 108px, 276px 218px, 317px 115px, 360px 114px, 245px 138px, 300px 169px, 216px 200px, 389px 151px, 85px 182px, 230px 70px, 180px 95px, 314px 150px, 255px 214px, 202px 200px, 105px 87px, 85px 171px, 85px 140px, 203px 125px, 90px 230px, 84px 178px, 310px 75px, 395px 106px, 406px 124px, 441px 115px;
        background-repeat: no-repeat;
    }
    &__container {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        width: 306px;
    }
    &__title {
        font-weight: bold;
        font-size: 30px;
        line-height: 43px;
        text-align: center;
        text-transform: uppercase;
        -webkit-text-stroke: 1px var(--h1-color);
        -webkit-text-fill-color: transparent;
        text-shadow: 0 -16px 0 var(--shadtitle-color);
        // background-color: violet;
    }
}